{% extends "dashboard/home_page.html" %}
{% load static %}
{% block content %}
<div class="content">
<div class="row">
<div class="col-md-9">
    <div>
    <form method="POST" id="task_user_email" action="{% url 'saveoutput-view' %}">
        {% csrf_token %}
    <table id="recordings-table" class="table table-striped table-dark" style="margin-top:1rem;">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Completed Task</th>
                <th>Blockers</th>
                <th>Deliverables</th>
            </tr>
        </thead>
        <tbody>
            {% for value in data %}
              {% with forloop.counter as outer_counter %}
                 <tr id="row1">
                     <td>{{value.name}}</td>
                     <td><textarea name="task_{{outer_counter}}" cols="30" rows="5">{{ value.task }}</textarea></td>
                     <input type="hidden" name="name_{{outer_counter}}" value="{{ value.name }}">
                     <td><textarea name="task_{{outer_counter}}" cols="30" rows="5">{{ value.blocker }}</textarea></td>
                     <td><textarea name="task_{{outer_counter}}" cols="30" rows="5">{{ value.deliverable }}</textarea></td>
                 </tr>
             {% endwith %}
            {% endfor %}
            <input type="submit" value="Send Mail" class="btn btn-success">

            <!-- Add more rows for other employees -->
        </tbody>
    </table>
    </form>
</div>
</div>
    <div class="col-md-3" style="padding-left:50px;">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header"><h4>Meeting Details</h4></div>
      <div class="card-body">
        <h6>Date:<label id="date_label"></label></h6>
        <h6>Current Time: <label id="time_label"></label></h6>
        <h6><label>Meeting Room A</label></h6>
        <h6><label>Agenda: Discuss project updates and next steps</label></h6>
      </div>
      </div>
      </div>
</div>
</div>
<script src="{% static 'js/tabulator.js' %}"></script>
{% endblock %}
