{% extends "dashboard/home_page.html" %}
{% load static %}
{% block content %}
<div class="content" id="replace">
<div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop</button>
    <input type="text" id="csrf" hidden value="{{csrf_token}}">
</div>
<h3>Recordings</h3>
<ol id="recordingsList"></ol>

</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/manage-audio.js' %}"></script>
    <script src="{% static 'js/speechrecorder.js' %}"></script>
{% endblock %}
